.button{
    padding: 5px 210px 5px 210px;
    text-align: center;
    color: white;
    background-color: blue;
  }

  input{
    padding:2px;
}
#size{
size:100 ;
}
.button{
    padding: 5px 210px 5px 210px;
    text-align: center;
    color: white;
    background-color: blue;
}

.inputwidth{
width: 98%;
}
.login{
    padding: 5px 210px 5px 210px;
    text-align: center;
    color: white;
    background-color: blue;
}