.headerfooter{
    text-align: center;
    color: white;
    background-color:blue;
   align-content: center;
}
a{
    color: white;
    font-family: Arial, sans-serif;
}
#f{
  padding-left: 70px;
}

#h2{
  color: blue;
  text-align: center;
}








